.pad-top {
    padding-top: 75px;
}

.overflow-limit {
    word-wrap: break-word;
}

.user-panel {
    position: relative;
    top: -10px;
}

.pad-top-5 {
    padding-top: 5px;
}

.flex-container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.flex-item {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

html,
body,
#body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#body {
    overflow: hidden;
}

#wrapper {
    overflow: auto;
}

.full-height {
    height: 100%;
}

.full-height-padded {
    height: calc(100% - 95px);
}

.no-styling,
.no-styling:hover,
.no-styling:focus {
    color: #888;
    text-decoration: none !important;
}