.pad-top {
    padding-top: 75px;
}

.pad-top-50 {
    padding-top: 50px;
}

.overflow-limit {
    word-wrap: break-word;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.inline {
    display: inline;
}
.inline-block {
    display: inline-block;
}

.user-panel {
    position: relative;
    top: -10px;
}

.reply-panel {
    background: #444;
    padding-bottom: 5px;
    color: #ccc;
    margin-bottom: 5px;
}

aside.quote {
    background-color: #333;
    padding-top: 10px;
}
.postSantized aside.quote:first-child {
    margin-top: 100px;
}
aside.quote div.title {
    padding-left: 5px;
    padding-bottom: 5px;
}
aside.quote div.title img.avatar{
   margin-left: 5px;
   margin-right: 5px;
}

.pad-top-5 {
    margin-top: 5px;
}

a.mention {
    background: #575757;
    padding: 2px 4px;
    color: #D9D9D9;
}

.profile-background {
    min-height: 75px;
}
#profile-header {
    position: relative;
}
#profile-name {
    position: absolute;
    z-index: 1;
    bottom: 5px;
    left: 0;
    padding: 5px;
    background: rgba(0, 0, 0, 0.5);
}

html,
body,
#body,
#wrapper {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    background-color: #060606;
    -webkit-transform: translateZ(0);
    -webkit-perspective:1000;
    -webkit-backface-visibility: hidden;
}

.infinite {
    overflow: auto;
    overflow-scrolling: touch;
    padding-top: 10px;
}

.onscreen-alerts {
    position: fixed;
    z-index: 1000;
    top: 55px;
}

.full-height {
    height: 100%;
}

.full-height-padded {
    height: calc(100% - 50px);
    margin-top: 50px;
}

.no-styling,
.no-styling:hover,
.no-styling:focus {
    color: #888;
    text-decoration: none !important;
}

@media (max-width: 555px) {
    .container-fluid {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

@media (max-width: 545px) {
    .container-fluid {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}

@media (max-width: 535px) {
    .container-fluid {
        padding-left: 2px !important;
        padding-right: 2px !important;
    }
}

.bootstrap-fa-badge {
    position: absolute !important;
    display: block !important;
    margin-top: 3px;
    left: 68px !important;
}

blockquote {
    background-color: #444;
    font-size: 10pt;
    color: white;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-left-15px {
    padding-left: 15px;
}

.margin-right-5px {
    margin-right: 5px;
}

.badge-default {
    color: #fff;
    background-color: #444;
}

.topic-user {
    border-top: 1px solid #666;
    background-color: #333;
    color: #fff;
}

.topic-user .topic_height {
    line-height: 76px;
}

.topic-user img {
    margin-top: 15px;
}