.pad-top {
    padding-top: 75px;
}

.pad-top-50 {
    padding-top: 50px;
}

.overflow-limit {
    word-wrap: break-word;
}

.user-panel {
    position: relative;
    top: -10px;
}

.pad-top-5 {
    padding-top: 5px;
}

html,
body,
#body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#body {
    overflow: hidden;
}

#wrapper {
    overflow: auto;
}

.full-height {
    height: 100%;
}

.full-height-padded {
    height: calc(100% - 95px);
}

.no-styling,
.no-styling:hover,
.no-styling:focus {
    color: #888;
    text-decoration: none !important;
}

@media (max-width: 555px) {
	.container-fluid {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
}
@media (max-width: 545px) {
	.container-fluid {
		padding-left: 5px !important;
		padding-right: 5px !important;
	}
}
@media (max-width: 535px) {
	.container-fluid {
		padding-left: 2px !important;
		padding-right: 2px !important;
	}
}

.navmenu,
.navbar-offcanvas {
    width: 50px !important;
}

ul.settings-list li p {
	text-align: left;
	display: inline-block;
}
ul.settings-list li div {
	float: right;
	text-align: right;
	display: inline-block;
}