<?xml version='1.0' encoding='utf-8' ?>
<widget id="com.teksyndicate.tekapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://cordova.apache.org/ns/1.0">
    <name>TekSyndicate</name>
    <description>
        The official app of Tek Syndicate
    </description>
    <author email="wendell@teksyndicate.com" href="https://teksyndicate.com">
        Tek Syndicate Community
    </author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
	<preference name="SplashScreen" value="screen" />
	<preference name="SplashScreenDelay" value="3000" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
	<preference name="StatusBarOverlaysWebView" value="false" />
	<preference name="StatusBarBackgroundColor" value="#000000" />
	<preference name="StatusBarStyle" value="lightcontent" />
    <!-- <gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.contacts" /> -->
    <gap:plugin name="org.apache.cordova.device" />
    <!-- <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" /> -->
    <gap:plugin name="org.apache.cordova.network-information" />
    <!-- <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.vibration" /> -->
	<feature name="NetworkStatus">
		<param name="android-package" value="org.apache.cordova.networkinformation.NetworkManager" />
	</feature>
    <icon src="icon.png" />
	<platform name="amazon-fireos">
        <icon src="res/icon/android/icon-36-ldpi.png" density="ldpi" width="36" height="36" />
        <icon src="res/icon/android/icon-48-mdpi.png" density="mdpi" width="48" height="48" />
        <icon src="res/icon/android/icon-72-hdpi.png" density="hdpi" width="72" height="72" />
        <icon src="res/icon/android/icon-96-xhdpi.png" density="xhdpi" width="96" height="96" />
        <icon src="res/icon/android/icon-144-xxhdpi.png" density="xxhdpi" width="144" height="144" />
    </platform>
	<platform name="android">
        <icon src="res/icon/android/icon-36-ldpi.png" density="ldpi" width="36" height="36" />
        <icon src="res/icon/android/icon-48-mdpi.png" density="mdpi" width="48" height="48" />
        <icon src="res/icon/android/icon-72-hdpi.png" density="hdpi" width="72" height="72" />
        <icon src="res/icon/android/icon-96-xhdpi.png" density="xhdpi" width="96" height="96" />
        <icon src="res/icon/android/icon-144-xxhdpi.png" density="xxhdpi" width="144" height="144" />
        <icon src="res/icon/android/icon-192-xxxhdpi.png" density="xxhdpi" width="192" height="192" />
    </platform>
	<platform name="blackberry10">
        <icon src="res/icon/blackberry10/icon-86.png" width="86" height="86" />
        <icon src="res/icon/blackberry10/icon-150.png" width="150" height="150" />
    </platform>
	<platform name="firefoxos">
        <icon src="res/icon/firefoxos/icon-60.png" width="60" height="60" />
    </platform>
	<platform name="ios">
        <icon src="res/icon/ios/icon-60@3x.png" width="180" height="180" />
        <icon src="res/icon/ios/icon-60.png" width="60" height="60" />
        <icon src="res/icon/ios/icon-60@2x.png" width="120" height="120" />
        <icon src="res/icon/ios/icon-76.png" width="76" height="76" />
        <icon src="res/icon/ios/icon-76@2x.png" width="152" height="152" />
        <icon src="res/icon/ios/icon-40.png" width="40" height="40" />
        <icon src="res/icon/ios/icon-40@2x.png" width="80" height="80" />
        <icon src="res/icon/ios/icon-57-normal.png" width="57" height="57" />
        <icon src="res/icon/ios/icon-57-normal@2x.png" width="114" height="114" />
        <icon src="res/icon/ios/icon-72.png" width="72" height="72" />
        <icon src="res/icon/ios/icon-72@2x.png" width="144" height="144" />
        <icon src="res/icon/ios/icon-29-small.png" width="29" height="29" />
        <icon src="res/icon/ios/icon-29-small@2x.png" width="58" height="58" />
        <icon src="res/icon/ios/icon-50.png" width="50" height="50" />
        <icon src="res/icon/ios/icon-50@2x.png" width="100" height="100" />
    </platform>
	<platform name="tizen">
        <icon src="res/icon/tizen/icon-128.png" width="128" height="128" />
    </platform>
	<platform name="winphone">
        <icon src="res/icon/winphone/icon-99-ApplicationIcon.png" width="99" height="99" />
        <icon src="res/icon/winphone/icon-159-Background.png" width="159" height="159" role="background" />
    </platform>
	<platform name="windows8">
        <icon src="res/icon/windows8/icon-150-logo.png" width="150" height="150" />
        <icon src="res/icon/windows8/icon-30-smalllogo.png" width="30" height="30" />
        <icon src="res/icon/windows8/icon-50-storelogo.png" width="50" height="50" />
    </platform>
	<platform name="webos">
		<icon src="res/icon/webos/icon-64.png" width="64" height="64" />
	</platform>
	<platform name="android">
		<splash src="res/screen/android/splash-land-hdpi.png" density="land-hdpi"/>
		<splash src="res/screen/android/splash-land-ldpi.png" density="land-ldpi"/>
		<splash src="res/screen/android/splash-land-mdpi.png" density="land-mdpi"/>
		<splash src="res/screen/android/splash-land-xhdpi.png" density="land-xhdpi"/>
		<splash src="res/screen/android/splash-port-hdpi.png" density="port-hdpi"/>
		<splash src="res/screen/android/splash-port-ldpi.png" density="port-ldpi"/>
		<splash src="res/screen/android/splash-port-mdpi.png" density="port-mdpi"/>
		<splash src="res/screen/android/splash-port-xhdpi.png" density="port-xhdpi"/>
	</platform>
	<platform name="ios">
		<splash src="res/screen/ios/Default-Portait~iphone.png" width="320" height="480"/>
		<splash src="res/screen/ios/Default-Landscape~iphone.png" width="480" height="320"/>
		<splash src="res/screen/ios/Default-Portait@2x~iphone.png" width="640" height="960"/>
		<splash src="res/screen/ios/Default-Landscape@2x~iphone.png" width="960" height="640"/>
		<splash src="res/screen/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
		<splash src="res/screen/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
		<splash src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
		<splash src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
		<splash src="res/screen/ios/Default-Portrait-568h@2x~iphone.png" width="640" height="1136"/>
		<splash src="res/screen/ios/Default-Landscape-568h@2x~iphone.png" width="1136" height="640"/>
		<splash src="res/screen/ios/Default-Portrait-667h.png" width="750" height="1334"/>
		<splash src="res/screen/ios/Default-Landscape-667h.png" width="1134" height="750"/>
		<splash src="res/screen/ios/Default-Portrait-736h.png" width="1242" height="2208"/>
		<splash src="res/screen/ios/Default-Landscape-736h.png" width="2208" height="1242"/>
	</platform>
	<platform name="wp8">
		<splash src="res/screen/wp8/SplashScreenImage.jpg" width="480" height="800"/>
	</platform>
	<platform name="windows8">
		<splash src="res/screen/windows8/splashscreen.png" width="620" height="300"/>
	</platform>
	<platform name="blackberry10">
		<splash src="res/screen/blackberry10/splashscreen.png" width="64" height="64"/>
	</platform>
	<platform name="webos">
		<splash src="res/screen/webos/splash-64.png" width="64" height="64"/>
	</platform>
    <access origin="*" />
</widget>