<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title>Tek Syndicate App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <script src="cordova.js"></script>
    <!-- build:js({.tmp,app}) scripts/phonegap_.js -->
    <script src="scripts/phonegap/init.js "></script>
    <!-- endbuild -->
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/lazyYT.css">
    <!-- endbuild -->

</head>

<body ng-app="tekForumApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavigationCtrl">
        <div class="container-fluid">
            <div class="navbar-header">
                <button ng-if="user.loggedIn" type="button" class="visible-xs-* navbar-toggle collapsed" data-toggle="collapse" data-target="#user">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <button type="button" class="visible-xs-* navbar-toggle collapsed" data-toggle="collapse" data-target="#other">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <button type="button" class="visible-xs-* navbar-toggle collapsed" data-toggle="collapse" data-target="#search">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-search"></i>
                </button>
                <button type="button" class="visible-xs-* navbar-toggle collapsed" data-toggle="collapse" data-target="#chat">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-comment"></i>
                </button>
                <a class="navbar-brand no-padding" href="#/"><img class="img img-brand" src="images/rtwwhite.png" />
                </a>
            </div>
            <div class="visible-xs-* collapse navbar-collapse" id="chat">
                <p>Chat stuff</p>
            </div>
            <div class="visible-xs-* collapse navbar-collapse" id="search" ng-submit="search()">
                <form class="nav navbar-nav" role="menu">
                    <div class="form-group">
                        <input class="form-control" type="text" ng-model="query" />
                    </div>
                    <div class="form-group">
                        <input class="btn btn-default btn-block" type="submit" value="Submit" />
                    </div>
                </form>
            </div>
            <div class="visible-xs-* collapse navbar-collapse" id="other">
                <ul class="nav navbar-nav" role="menu">
                    <li><a href="#/" class="local">Latest</a>
                    </li>
                    <li><a href="#" class="local">Badges</a>
                    </li>
                    <li><a href="#" class="local">FAQ</a>
                    </li>
                    <li><a href="#/about" class="local">About</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a ng-if="user.loggedIn" ng-click="logOut()" class="local">Log Out</a>
                        <a ng-if="!user.loggedIn" href="#/login" class="local">Log In</a>
                    </li>

                </ul>
            </div>
            <div ng-if="visible-xs-* User.loggedIn" class="collapse navbar-collapse" id="user">
                <img ng-src="user.avatar">
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container-fluid pad-top full-height" id="wrapper">
        <div class="flash-container">
            <div class="col-xs-12">
                <div flash-alert active-class="in alert " class="fade ">
                    <span class="alert-message ">{{flash.message}}</span>
                </div>
            </div>
        </div>
        <div ng-view="" class="col-xs-12 full-height-padded"></div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-flash/dist/angular-flash.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/iscroll.js -->
    <script src="scripts/custom/iscroll-lite.js"></script>
    <script src="scripts/custom/documentReady.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js "></script>
    <script src="scripts/controllers/main.js "></script>
    <script src="scripts/controllers/about.js "></script>
    <script src="scripts/services/factorycategory.js "></script>
    <script src="scripts/services/factorytopic.js "></script>
    <script src="scripts/services/factorypost.js "></script>
    <script src="scripts/services/factoryuser.js "></script>
    <script src="scripts/services/factorybadge.js "></script>
    <script src="scripts/services/factorynotification.js "></script>
    <script src="scripts/services/factoryprivatemessage.js "></script>
    <script src="scripts/services/serveraddress.js "></script>
    <script src="scripts/controllers/topic.js "></script>
    <script src="scripts/filters/sanitize.js "></script>
    <script src="scripts/custom/aLinkFix.js " type="application/javascript "></script>
    <script src="scripts/filters/extractfile.js "></script>
    <script src="scripts/filters/moment.js "></script>
    <script src="scripts/custom/lazyYT.js "></script>
    <script src="scripts/services/phonegapbackground.js "></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/custom/nofications.js"></script>
    <script src="scripts/controllers/navigation.js"></script>
    <script src="scripts/controllers/search.js"></script>
    <script src="scripts/services/formathtml.js"></script>
    <script src="scripts/custom/User.js"></script>
    <!-- endbuild -->

</body>

</html>