<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title>Tek Syndicate App</title>
    <meta name="description" content="">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://forum.teksyndicate.com/ https://teksyndicate.com/ data: gap: https://ssl.gstatic.com 'unsafe-eval' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src * ; img-src * ; connect-src 'self'  https://forum.teksyndicate.com/ https://teksyndicate.com/ https://gdata.youtube.com/">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-toggle-switch/angular-toggle-switch.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/fonts.css">
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/lazyYT.css">
    <!-- endbuild -->

</head>

<body ng-app="tekForumApp">
    <div id="body" ng-controller="NavigationCtrl" ng-swipe-left="ShowMenu()" ng-swipe-right="SwipeRight()">

        <!-- Menu to the right of the screen -->
        <nav id="right-menu" class="navmenu navmenu-inverse navmenu-fixed-right offcanvas pad-top-50 full-height" role="navigation">
            <div data-right-control></div>
        </nav>

        <!-- Menu at the top of the screen -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header col-xs-12">
                <a class="navbar-brand no-padding local" href="#/"><img class="img img-brand" src="images/rtwwhite.png" />
                </a>
                <button type="button" class="btn btn-default pull-right" style="margin-top:6px;" data-toggle="offcanvas" data-target="#right-menu">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <!-- /.container-fluid -->
        </div>

        <div class="container-fluid pad-top full-height" du-scroll-container id="wrapper">
            <div class="onscreen-alerts">
                <div class="onscreen-alert fx-bounce-down" ng-repeat="alert in alerts" role="alert" ng-switch="alert.dissmissable">
                    <div ng-switch-when="false" ng-attr-class="alert alert-{{alert.style}}">
                        <strong>{{alert.title}}</strong> {{alert.text}}
                    </div>
                    <div ng-switch-when="true" ng-attr-class="alert alert-{{alert.style}} alert-dismissible" role="alert">
                        <button ng-click="closeAlert(alert.id)" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                        <strong>{{alert.title}}</strong> {{alert.text}}
                    </div>
                </div>
            </div>
            <div ng-view="" class="full-height-padded fx-fade-up"></div>
        </div>
    </div>

    <!-- build:js({.tmp,app}) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.js"></script>
    <script src="bower_components/angular-toggle-switch/angular-toggle-switch.js"></script>
    <script src="bower_components/ngCordova/dist/ng-cordova.js"></script>
    <script src="bower_components/gsap/src/uncompressed/TweenMax.js"></script>
    <script src="bower_components/ngFx/dist/ngFx.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js "></script>
    
    <script src="scripts/services/phonegap.js"></script>
    <script src="scripts/services/serveraddress.js"></script>
    <script src="scripts/services/formathtml.js"></script>
    
    <script src="scripts/services/factorystorage.js"></script>
    <script src="scripts/services/factoryhttp.js"></script>
    <script src="scripts/services/factorycategory.js"></script>
    <script src="scripts/services/factorytopic.js"></script>
    <script src="scripts/services/factorypost.js"></script>
    <script src="scripts/services/factoryuserstorage.js"></script>
    <script src="scripts/services/factoryuser.js"></script>
    <script src="scripts/services/factorybadge.js"></script>
    <script src="scripts/services/factorynotification.js"></script>
    <script src="scripts/services/factoryonscreennotifications.js"></script>
    <script src="scripts/services/factoryprivatemessage.js"></script>
    
    <script src="scripts/filters/sanitize.js"></script>
    <script src="scripts/filters/extractfile.js"></script>
    <script src="scripts/filters/moment.js"></script>
    
    <script src="scripts/custom/aLinkFix.js"></script>
    <script src="scripts/custom/vendor-lazyYT.js"></script>
    
    <script src="scripts/controllers/topic.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/navigation.js"></script>
    <script src="scripts/controllers/searchtopics.js"></script>
    <script src="scripts/controllers/settings.js"></script>
    <script src="scripts/controllers/profile.js"></script>
    <script src="scripts/controllers/notifications.js"></script>
    
    <script src="scripts/directives/right-control.js"></script>
    <!-- endbuild -->

    <script src="cordova.js"></script>

</body>

</html>