<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teksyndicate" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.teksyndicate.SplashScreen"
            android:label="@string/title_activity_video_story"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.teksyndicate.StoriesActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.teksyndicate.VideoStoryActivity"
            android:label="@string/title_activity_video_story"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>

        <service android:enabled="true" android:name=".NewStoryService"/>
        <service android:enabled="true" android:name="com.teksyndicate.NewStoryService"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
