<div class="flex-container full-height">
    <form class="col-xs-12 flex-item">
        <img class="img img-responsive" src="images/dark-logo.png" />
        <div class="form-group">
            <input class="form-control" type="text" autocomplete="on" autofocus />
        </div>
        <div class="form-group">
            <input class="form-control" type="password" autocomplete="on" autofocus />
        </div>
        <input class="btn btn-default btn-block" type="submit" value="submit" />
    </form>
</div>