<div class="flex-container full-height">
    <form class="col-xs-12 flex-item" novalidate ng-submit="Login()">
        <!--<img class="img img-responsive" src="images/dark-logo.png" />-->
        <h3 class="logo-font">tek syndicate</h3>
        <div class="form-group">
            <input class="form-control" placeholder="Username" type="text" autocomplete="on" autofocus ng-model="user.name" />
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Password" type="password" autocomplete="on" ng-model="user.pass" />
        </div>
        <input class="btn btn-default btn-block" type="submit" value="submit" />
    </form>
</div>