<div pull-to-refresh="GetTopics()" class="infinite full-height">
    <h4>Latest<small ng-if="category"> in {{categoryName || 'category'}}</small></h4>

    <ul class="list-group" infinite-scroll-disabled="busyLoadingData" infinite-scroll="FetchTopics()" infinite-scroll-distance="2" infinite-scroll-parent="true">
        <li class="list-group-item" ng-if="topicList" ng-repeat="topic in topicList | orderBy: ['-pinned', '-last_posted_at']">
            <a href="#/topic/{{topic.id}}" class="local no-styling">
                <h4><span ng-if="topic.pinned"><i class="fa fa-thumb-tack"></i> </span><span ng-bind-html="topic.fancy_title | Sanitize"></span> <small ng-bind-html="topic.last_posted_at | moment:'fromNow'"></small></h4>
                <p class="no-styling" ng-attr-style="font-size: {{userPrefs.PostAndTopicFontSize}}px;" ng-bind-html="topic.excerpt | Sanitize"></p>
                <div class="text-right">
                    <nobr><i class="fa fa-eye margin-right-5px"></i><span class="badge badge-default">{{topic.views}}</span>
                    </nobr>
                    <nobr><i class="fa fa-heart margin-right-5px margin-left-15px"></i><span class="badge badge-default">{{topic.like_count}}</span>
                    </nobr>
                    <nobr><i class="fa fa-list margin-right-5px margin-left-15px"></i><span class="badge badge-default">{{topic.posts_count}}</span>
                    </nobr>
                    <nobr><i class="fa fa-reply margin-right-5px margin-left-15px"></i><span class="badge badge-default">{{topic.reply_count}}</span>
                    </nobr>
                </div>
            </a>
        </li>
    </ul>
    <span id="bottom"></span>
</div>