<ion-modal-view>
    <ion-header-bar>
        <h4>Latest</h4>
    </ion-header-bar>
    <ion-content>
        <div pull-to-refresh="GetTopics()" id="infinite" class="full-height">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Category <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a class="local" href="#/">All</a>
                    </li>
                    <li class="divider"></li>
                    <li ng-repeat="category in categoryList"><a class="local" href="#/category/{{category.id}}">{{category.name}}</a>
                    </li>
                </ul>
            </div>

            <ul class="list-group" infinite-scroll-disabled="busyLoadingData" infinite-scroll="FetchTopics()" infinite-scroll-distance="2" infinite-scroll-parent="true">
                <li class="list-group-item" ng-if="topicList" ng-repeat="topic in topicList">
                    <a href="#/topic/{{topic.id}}" class="local no-styling">
                        <h4><span ng-if="topic.pinned"><i class="fa fa-thumb-tack"></i> </span>{{topic.title}}</h4>
                        <p class="no-styling" ng-bind-html="topic.excerpt | Sanitize"></p>
                        <div class="text-right">
                            <nobr><i class="fa fa-eye margin-right-5px"></i><span class="badge badge-default">{{topic.views}}</span>
                            </nobr>
                            <nobr><i class="fa fa-heart margin-right-5px margin-left-15px"></i><span class="badge badge-default">{{topic.like_count}}</span>
                            </nobr>
                            <nobr><i class="fa fa-list margin-right-5px margin-left-15px"></i><span class="badge badge-default">{{topic.posts_count}}</span>
                            </nobr>
                            <nobr><i class="fa fa-reply margin-right-5px margin-left-15px"></i><span class="badge badge-default">{{topic.reply_count}}</span>
                            </nobr>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-modal-view>