<hr>
<div class="panel panel-default">
    <ul class="list-group">
        <li class="list-group-item">
            <button class="btn btn-default btn-block" type="button" ng-click="scrollTop();HideMenu();">Jump to Top</button>
        </li>
        <li class="list-group-item">
            <div ng-attr-class="{{nav.scope.scrollFormInvalid && 'has-error ' || '' }}form-group margin-bottom-0">
                <form class="input-group">
                    <input type="number" pattern="\d*" validate min="1" step="1" ng-attr-max="{{nav.scope.maxpostcount}}" ng-model="nav.scope.scrolledPost" class="form-control" ng-attr-placeholder="Jump to Post # (of {{nav.scope.maxpostcount}})">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default" type="button" ng-click="nav.scope.scrollPost(nav.scope.scrolledPost, true);"><i class="fa fa-arrow-right"></i></button>
                    </span>
                </form>
            </div>
        </li>
        <li class="list-group-item">
            <button class="btn btn-default btn-block" type="button" ng-click="scrollBottom();HideMenu();">Jump to Bottom</button>
        </li>
    </ul>