<div class="visible-xs">
    <div class="collapse navbar-collapse" id="chat">
        <ul>
            <NavNotification></NavNotification>
        </ul>
    </div>
    <div class="collapse navbar-collapse" id="search" ng-submit="search()">
        <form class="nav navbar-nav" role="menu">
            <div class="form-group">
                <input class="form-control" type="text" ng-model="query" />
            </div>
            <div class="form-group">
                <input class="btn btn-default btn-block" type="submit" value="Submit" />
            </div>
        </form>
    </div>
    <div class="collapse navbar-collapse" id="other">
        <ul class="nav navbar-nav" role="menu">
            <li><a href="#/" class="local">Latest</a>
            </li>
            <li><a href="#" class="local">Badges</a>
            </li>
            <li><a href="#" class="local">FAQ</a>
            </li>
            <li><a href="#/about" class="local">About</a>
            </li>
            <li class="divider"></li>
            <li>
                <a ng-if="user.loggedIn" ng-click="logOut()" class="local">Log Out</a>
                <a ng-if="!user.loggedIn" href="#/login" class="local">Log In</a>
            </li>
        </ul>
    </div>

    <div ng-if="User.loggedIn" class="collapse navbar-collapse" id="user">
        <img ng-src="user.avatar" class="img img-responsive" />
    </div>
</div>