<div pull-to-refresh="GetPosts()" class="infinite full-height">
    <h4>{{topic.title}}</h4>
    <ul id="topic-board" class="formatHTML list-group" infinite-scroll-disabled="busyLoadingData" infinite-scroll="FetchPosts()" infinite-scroll-distance="2" infinite-scroll-parent="true">
        <li class="list-group-item" ng-if="topic" ng-attr-id="post-{{post.post_number}}" ng-repeat="post in topic.post_stream.posts | orderBy: 'created_at'">

            <!--
                User Info panel
            -->
            <div class="topic-user col-xs-12 user-panel">
                <div class="col-xs-3 col-sm-2 col-md-1">
                    <a ng-attr-href="#/users/{{post.username}}" class="local show no-styling">
                        <img ng-if="post.avatar_template.substring(0,35) === '/user_avatar/forum.teksyndicate.com'" class="img img-responsive img-rounded" ng-src="https://forum.teksyndicate.com/user_avatar/forum.teksyndicate.com/{{post.username}}/40/{{post.avatar_template | ExtractFile}}">
                        <img ng-if="post.avatar_template.substring(0,15) === '/letter_avatar/'" class="img img-responsive img-rounded" ng-src="https://forum.teksyndicate.com/letter_avatar/{{post.username}}/40/{{post.avatar_template | ExtractFile}}">
                        <p class="username"><strong>{{post.username}}</strong>
                        </p>
                    </a>
                </div>
                <p class="topic_height col-xs-1 text-left">#{{post.post_number}}</p>
                <div class="hidden-xs col-sm-4 col-md-6"></div>
                <p class="topic_height col-xs-6 col-sm-4 text-right"><em>{{post.created_at | moment:"fromNow"}}</em>
                </p>
            </div>
            <a ng-if="post.reply_to_post_number" href="" ng-click="scrollPost(post.reply_to_post_number, false)" class="visible-xs-block local reply-panel no-styling">
                <i class="fa fa-reply margin-right-5px margin-left-15px"></i>
                <img class="visible-xs-inline" ng-if="post.reply_to_user.avatar_template.substring(0,35) === '/user_avatar/forum.teksyndicate.com'" class="img img-responsive img-rounded pad-top-5" ng-src="https://forum.teksyndicate.com/user_avatar/forum.teksyndicate.com/{{post.reply_to_user.username}}/20/{{post.reply_to_user.avatar_template | ExtractFile}}">
                <img class="visible-xs-inline" ng-if="post.reply_to_user.avatar_template.substring(0,15) === '/letter_avatar/'" class="img img-responsive img-rounded pad-top-5" ng-src="https://forum.teksyndicate.com/letter_avatar/{{post.reply_to_user.username}}/20/{{post.reply_to_user.avatar_template | ExtractFile}}">
                <strong>{{post.reply_to_user.username}}</strong>
                <strong class="pull-right margin-right-5px">#{{post.reply_to_post_number}}</strong>
            </a>

            <!-- 
                Post content
            -->
            <div class="postSantized overflow-limit no-styling" ng-attr-style="font-size: {{userPrefs.PostAndTopicFontSize}}px;" ng-bind-html="post.cooked | Sanitize"></div>

            <!-- 
                Post data
            -->
            <div class="row text-left">
                <span class="col-xs-5 col-sm-9 col-md-9"></span>
                <nobr><i class="fa fa-eye margin-right-5px"></i><span class="badge badge-default">{{post.reads}}</span>
                </nobr>
                <nobr><i class="fa fa-heart margin-right-5px margin-left-15px"></i><span class="badge badge-default">{{post.like_count}}</span>
                </nobr>
                <nobr><i class="fa fa-reply margin-right-5px margin-left-15px"></i><span class="badge badge-default">{{post.reply_count}}</span>
                </nobr>
            </div>
        </li>
    </ul>
    <span id="bottom"></span>
</div>